.hlyaout1_div {
    width : 162px;
    height : 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 12px #00000014;
    border-radius: 16px;
    opacity: 1;
}

.pagesContentDiv {
    display :flex;
    justify-content : space-evenly;
    align-items : center;
    flex-direction : row;
}
.hlyaout2_div
{
width: 162px;
height: 95px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 12px #00000014;
border-radius: 16px;
opacity: 1;
}
.blankContentDiv{
width: 162px;
height: 95px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 12px #00000014;
border-radius: 16px;
opacity: 1;
}
.noiseContentDiv{
width: 162px;
height: 95px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 12px #00000014;
border-radius: 16px;
opacity: 1;
}
.checkDiv{
width: 34px;
height: 34px;
/* UI Properties */
background: #027FFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.groupDiv
{
width: 34px;
height: 34px;
/* UI Properties */
/*background: transparent url('img/group.png') 0% 0% no-repeat padding-box;*/
opacity: 1;
}
